.CustomToolbar {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    .buttons {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        gap: 3px;
        user-select: none;
        li {
            align-items: center;
            height: 100%;
            text-align: center;
            border: 1px solid transparent;
            border-radius: 3px;
            color: var(--main-color);
            .ant-upload-wrapper {
                line-height: normal;
            }

            .icon {
                font-size: 18px;
                padding: 5px 10px 3px 10px;
                border-bottom: 1px solid transparent;
                opacity: 0.9;
            }

            .name {
                font-size: 14px;
                padding: 1px 10px 2px 10px;
            }

            &:hover {
                background-color: var(--button-hover-color);
            }
        }

        li.selected {
            border: 1px solid var(--toolbar-border-color);
            background-color: var(--toolbar-border-color);
        }

        li.disabled {
            opacity: 0.5;
        }

        li.disabled:hover {
            background-color: transparent;
        }
    }

    .splitToolbarButtonSeparator {
        height: 51px;
        margin: 0 10px;
    }
}

.SignatureTool {
    margin: 0 auto;

    &-Container {
        background-color: #eee;
        border: 1px solid #ccc;
        position: relative;
        margin: 0 auto;

        .konvajs-content {
            z-index: 99;
            cursor: crosshair;
        }

        &::after {
            content: '签名处...';
            font-size: 20px;
            z-index: 0;
            color: #ccc;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            text-align: center;
        }
    }

    &-Toolbar {
        border: 1px solid #ccc;
        border-top: 0;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        .colorPalette {
            display: flex;
            margin: 8px;

            .cell {
                cursor: pointer;
                width: 22px;
                height: 22px;
                margin-right: 10px;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #fff;

                span {
                    width: 12px;
                    height: 12px;
                    display: inline-block;
                    border-radius: 100px;
                }
            }

            .active {
                border: 1px solid #bbb;
            }
        }

        .clear {
            padding: 8px;
            cursor: pointer;
        }

        .clear:hover {
            text-decoration: underline;
        }
    }
}

.SignaturePop {
    .ant-popover-inner {
        padding: 5px;
    }

    ul,
    li {
        margin: 0;
        list-style: none;
        padding: 0;

        img:hover {
            background-color: #ccc;
        }
    }

    li {
        display: flex;
        margin: 5px;
        justify-content: center;
        align-items: center;

        span {
            margin-left: 5px;
            cursor: pointer;
        }
    }

    &-Toolbar {
        padding: 5px;
    }
}

.StampTool {
    position: relative;

    input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
    }
}

@media all and (max-width: 780px) {
    .CustomToolbar {
        .buttons {
            .name {
                display: none;
            }
        }
    }
}
@media all and (max-width: 690px) {
    .CustomToolbar {
        justify-content: flex-start;
        .buttons {
            margin-left: 10px;
        }
    }
}
