.PdfjsAnnotationExtension_Comment_hidden {
    .CustomComment {
        display: none;
    }
}
.CustomComment_filterContent {
    ul,
    li {
        list-style: none;
    }
    li {
        padding: 3px;
    }
    li:hover {
        background-color: #ddd;
    }
    li > label {
        width: 100%;
    }
}
.CustomComment {
    width: 330px;
    position: absolute;
    top: 107px;
    right: 0;
    height: calc(100vh - 107px);
    color: var(--main-color);
    border-left: 1px solid var(--toolbar-border-color);
    overflow: auto;
    font: message-box;
    font-size: 14px;
    .filters {
        padding: 5px;
    }
    .list {
        padding: 5px 5px 25px 5px;
        .group {
            margin-bottom: 10px;
        }
        h3 {
            font-weight: normal;
            font-size: 14px;
            span {
                float: right;
            }
        }
        .comment {
            border: 1px solid var(--toolbar-border-color);
            background-color: var(--toolbar-bg-color);
            border-radius: 8px;
            padding: 10px;
            line-height: 200%;
            .ant-typography{
                color: var(--main-color) !important;
            }
            p {
                white-space: pre-wrap;
                line-height: 150%;
                padding: 0 5px;
            }
            .title {
                display: flex;
                align-items: flex-start;
                cursor: default;
                .username {
                    min-width: 30px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .annotation-icon {
                    margin-right: 5px;
                }
                .tool {
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    .icon {
                        margin-left: 5px;
                        border-radius: 8px;
                    }
                    .icon:hover {
                        background-color: var(--dropdown-btn-bg-color);
                    }
                }
            }
            .reply {
                background-color: var(--dropdown-btn-bg-color);
                border-radius: 5px;
                padding: 3px 10px;
                margin-top: 8px;
                .icon:hover {
                    background-color: var(--toggled-btn-bg-color) !important;
                }
            }
        }
        .comment:hover {
            background-color: var(--doorhanger-hover-bg-color);
        }
        .selected {
            border-color: #1677ff72;
            background-color: var(--doorhanger-hover-bg-color);            
        }
        h3,
        .comment {
            margin-bottom: 8px;
        }
    }
}

@media all and (max-width: 780px) {
    .CustomComment {
        width: 250px;
    }
    .PdfjsAnnotationExtension {
        #viewerContainer {
            right: 250px;
        }
    }
}
@media all and (max-width: 690px) {
    .CustomComment {
        width: 150px;
    }
    .PdfjsAnnotationExtension {
        #viewerContainer {
            right: 150px;
        }
    }
}

@media (hover: hover) {
}
@media (hover: none) {
}
