.EditorFreeText-Modal {
    margin: 0 auto;
    &-Toolbar {
        border-top: 0;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        .colorPalette {
            display: flex;
            margin: 8px;
            .cell {
                cursor: pointer;
                width: 22px;
                height: 22px;
                margin-right: 5px;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #fff;
                span {
                    width: 12px;
                    height: 12px;
                    display: inline-block;
                    border-radius: 100px;
                }
            }

            .active {
                border: 1px solid #bbb;
            }
        }
    }
}