.PdfjsAnnotationExtension {
    .toolbar{
        z-index: 99;
    }
    .textLayer {
        z-index: 9 !important;
    }
    #viewerContainer {
        top: 107px !important;
    }
    #sidebarContainer {
        top: 107px !important;
    }
    #toolbarContainer {
        height: 107px;
    }
    .ant-message{
        z-index: 9999999;
    }
}
.PdfjsAnnotationExtension_scalechanging{
    .PdfjsAnnotationExtension_painter_wrapper{
        display: none;
    }
}
.pdfPresentationMode {
    .PdfjsAnnotationExtension_painter_wrapper{
        display: block;
    }
}
