.PdfjsAnnotationExtension {
    .textLayer {
        z-index: 9 !important;
    }
    #viewerContainer {
        top: 107px !important;
    }
    #sidebarContainer {
        top: 107px !important;
    }
    #toolbarContainer {
        height: 107px;
    }
}
